<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FinTrack{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
  </head>
  <body class="bg-[#fef8f3] flex">
    <aside class="flex min-h-screen">
      <div class="flex w-64 flex-col bg-[#f9f2ee] px-5 py-6 border-r border-[#f3e9e0]">
        <div>
           <a href="{{url_for('main.home')}}">
          <h1 class="font-bold text-xl text-[#b06533]">FinTrack</h1>
          </a>
         
          <p class="text-sm text-[#b5a7a1]">Premium Plan</p>
        </div>
        <nav class="mt-10 flex-1">
          <ul class="space-y-2">
            <li>
              <a
                href="{{url_for('dashboard.dashboard')}}"
                class="flex items-center gap-4 rounded-lg px-4 py-3 {% if request.endpoint == 'dashboard.dashboard' %} bg-[#9e3c01] text-[#e6e8f3] {% else %} text-[#594339] hover:bg-[#e3d8ce] {% endif %}"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect width="7" height="9" x="3" y="3" rx="1" />
                  <rect width="7" height="5" x="14" y="3" rx="1" />
                  <rect width="7" height="9" x="14" y="12" rx="1" />
                  <rect width="7" height="5" x="3" y="16" rx="1" />
                </svg>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('trans.transaction')}}"
                class="flex items-center gap-4 rounded-lg px-4 py-3 {% if request.endpoint == 'trans.transaction' %} bg-[#9e3c01] text-[#e6e8f3] {% else %} text-[#594339] hover:bg-[#e3d8ce] {% endif %}"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M4 2v14a3 3 0 0 0 3 3h14" />
                  <path d="M18 19V2l-2.5 1.5L13 2l-2.5 1.5L8 2L5.5 3.5 4 2" />
                  <line x1="8" y1="7" x2="14" y2="7" />
                  <line x1="8" y1="11" x2="14" y2="11" />
                  <circle cx="15.5" cy="7" r="0.75" fill="#533522" />
                  <circle cx="15.5" cy="11" r="0.75" fill="#533522" />
                </svg>
                <span>Transactions</span>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('acc.account')}}"
                class="flex items-center gap-4 rounded-lg px-4 py-3 {% if request.endpoint == 'acc.account' %} bg-[#9e3c01] text-[#e6e8f3] {% else %} text-[#594339] hover:bg-[#e3d8ce] {% endif %}"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polygon points="12 2 2 7 22 7 12 2" />
                  <line x1="5" y1="11" x2="5" y2="17" />
                  <line x1="12" y1="11" x2="12" y2="17" />
                  <line x1="19" y1="11" x2="19" y2="17" />
                  <line x1="2" y1="21" x2="22" y2="21" />
                  <line x1="4" y1="17" x2="20" y2="17" />
                </svg>
                <span>Accounts</span>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('budget.budget')}}"
                class="flex items-center gap-4 rounded-lg px-4 py-3 {% if request.endpoint == 'budget.budget' %} bg-[#9e3c01] text-[#e6e8f3] {% else %} text-[#594339] hover:bg-[#e3d8ce] {% endif %}"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M21 12c.552 0 1.005-.449.95-.998a10 10 0 0 0-8.953-8.951c-.55-.055-.998.398-.998.95v8a1 1 0 0 0 1 1z" />
                  <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
                </svg>
                <span>Budget</span>
              </a>
            </li>
            <li>
              <a href="{{url_for('ver.setting')}}" class="flex items-center gap-4 rounded-lg px-4 py-3 text-[#594339] hover:bg-[#e3d8ce]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"
                  />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                <span>Setting</span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="space-y-2 pt-4">
          <a href="{{url_for('ver.setting')}}" class="block rounded-lg bg-[#9f3c00] px-4 py-3 text-center text-sm font-semibold text-white hover:bg-[#cc4e00] transition-colors"> Upgrade Plan </a>
          <a href="{{url_for('ver.setting')}}" class="flex items-center gap-4 rounded-lg px-4 py-3 text-[#594339] hover:bg-[#e3d8ce]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719" />
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
              <path d="M12 17h.01" />
            </svg>
            <span>Help Center</span>
          </a>
          <a href="{{url_for('auth.logout')}}" class="flex items-center gap-4 rounded-lg px-4 py-3 text-[#594339] hover:bg-[#e3d8ce]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m16 17 5-5-5-5" />
              <path d="M21 12H9" />
              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            </svg>
            <span>Logout</span>
          </a>
        </div>
      </div>
    </aside>
    <main class="flex-1">
      <header class="h-20 bg-[#fff8f2] border-b-1 border-[#bfbfbf] flex items-center justify-between px-8">
        <h1 class="text-2xl font-semibold text-gray-800">{% block page_title %}Dashboard{% endblock %}</h1>
        <div class="flex items-center gap-6">
          <div>
            <!-- profile -->
          </div>
        </div>
      </header>
      <div class="w-full max-w-sm fixed right-6 z-99 bottom-6">
        {% with messages = get_flashed_messages(with_categories=true)%} {% if messages%}
        <div class="space-y-3">
          {% for category, message in messages %}
          <div
            class="flash-message flex items-center gap-3 rounded-xl border bg-white px-4 py-3 shadow-md transition-all duration-300 animate-slide-in {% if category == 'success' %} border-green-200 {% elif category == 'error' or category == 'danger' %} border-red-200 {% elif category == 'warning' %} border-yellow-200 {% else %} border-blue-200 {% endif %}"
          >
            <div
              class="h-2.5 w-2.5 shrink-0 rounded-full {% if category == 'success' %} bg-green-500 {% elif category == 'error' or category == 'danger' %} bg-red-500 {% elif category == 'warning' %} bg-yellow-500 {% else %} bg-blue-500 {% endif %}"
            ></div>
            <span
              class="flex-1 text-sm font-medium {% if category == 'success' %} text-green-700 {% elif category == 'error' or category == 'danger' %} text-red-700 {% elif category == 'warning' %} text-yellow-700 {% else %} text-blue-700 {% endif %}"
            >
              {{ message }}
            </span>
            <button type="button" onclick="this.parentElement.remove()" class="cursor-pointer text-lg leading-none text-gray-400 transition hover:text-gray-700">&times;</button>
          </div>
          {%endfor%}
        </div>
        {%endif%} {%endwith%}
      </div>
      <section class="p-8">{% block content %} {% endblock %}</section>
    </main>
  </body>
</html>
