<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinTrack Version2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
  </head>
  <body class="flex justify-center items-center min-h-screen flex-col bg-black/20">
    <h1 class="text-center text-3xl font-bold">The Given Feature will be comming soon :D...</h1>
    <div class="space-y-5">
      <h2 class="text-2xl font-semibold">Click here to go to landing page</h2>
      <a
        href="{% if current_user.is_authenticated %}
              {{ url_for('dash.dashboard') }}
          {% else %}
              {{ url_for('main.home') }}
          {% endif %}"
        class="cursor-pointer rounded-full bg-[#c94f00] px-5 py-3 text-sm font-semibold text-white shadow-md transition hover:bg-[#ad4300] hover:shadow-lg active:scale-[0.98]"
      >
        Click me :D
      </a>
    </div>
  </body>
</html>
